<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 namespace 命名空间，作用就是对sql进行分类化管理,理解为sql隔离
 注意：使用mapper代理方法开发，namespace有特殊重要的作用
 -->
<mapper namespace="com.iot.ssm.mapper.UserMapper">

    <select id="findUserById" parameterType="int" resultType="user">
        SELECT * FROM user02 WHERE id=#{value}
    </select>

    <select id="findUserById02"  resultType="user">
        SELECT *  FROM user02
        <trim prefix="WHERE" prefixOverrides="AND|OR">

            <if test="id != null"> AND id=#{id}</if>

            <if test="sex != null"> AND sex=#{sex}</if>

        </trim>
    </select>

    <select id="findUserByName" resultType="user">
        SELECT * from user02
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="username!=null and username.length()>0">AND username=#{username}</if>
            <if test="sex!=null">AND sex=#{sex}</if>
        </trim>
    </select>

    <select id="findUserListByAddr" resultType="user">
        SELECT * FROM user02 WHERE address IN
        <foreach collection="list" item="userAddrList" open="(" separator="," close=")">
            #{userAddrList}
        </foreach>

    </select>
    <select id="findUserListByAddr02" resultType="user">
        SELECT * FROM user02 WHERE address=#{address}
    </select>

    <select id="findUserByChoose" resultType="user">
        SELECT * FROM user02 WHERE 1=1

            <choose>
                <when test="address!=null and address.length()>0">
                    AND address=#{address}
                </when>
                <when test="id!=null">
                    AND id=#{id}
                </when>
                <when test="username!=null and username.length()>0">
                    AND username=#{username}
                </when>
                <otherwise>
                    sex=#{sex}
                </otherwise>
            </choose>

    </select>

    <update id="updateById" parameterType="int">
        UPDATE user02 u
        <set>
            <if test="username!=null and username.length()>0">
               username=#{username},
            </if>
            <if test="address!=null and address.length()>0">
                address=#{address}
            </if>
        </set>
        <where>
            <if test="id!=null">
                id=#{id}
            </if>
        </where>
    </update>

</mapper>
